/*Configuración global*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*Google Fonts*/
/*Rubik_Fuente Encabezados y Títulos*/
h1,h2,h3,h4,h5 {
    font-family: 'Rubik', sans-serif;}
/*Karla_Párrafos y demás*/
p,ul,li,a {
    font-family: 'Karla', sans-serif;
}

/*Header*/
header {
    top: 0;
    left: 0;
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    background: #7eb1f0;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    padding: 10px;
    color: #ffffff;
}

/*Logo*/
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 30px;
    margin-right: 10px;
}

/*Menú de navegación*/
.menu {
    display: flex;
}

/*Enlaces del menú*/
.menu a {
    font-weight: 500;
    padding-right: 15px;
    color: #ffffff;
    transition: 0.5s;
}

.menu-link {
    text-decoration: none;
}

.menu-link:hover {
    color: #87edff;
}

/*Color a link de página actual*/
#link-active {
    color: #5db4e4;
}

#link-active:hover {
    color: #87edff;
}

/*RESPONSIVE*/
/*En caso de bajar el ancho de la página se realizarán los siguientes efectos en la página*/
@media (max-width: 700px){
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}